@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
    --font-for-subtitle: "Playfair Dispay", serif;
    --main-text-color: rgba(255,255,255,0.5);
    --main-light-color: #ffffff;
    --main-dark-text-color: #6f7380;
    --additional-dark-text-color: #505155;
    --places-description-text-color: #707070;
    --sign-color: #ee2d14;
    --input-bg-color: #2d2e33;
    --input-button-bg-color: #18a8ee;
    --accented-text-color-light-bg: #18a8ee;
    --accented-text-color-dark-bg: #505155;
    --about-section-text-color: #232428;
    --dark-bg-main-text-color: #a9a9a9;
    --light-bg-color: #f7f7f6;
}

::placeholder {
    padding-left: 15px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 5px;
}

span {
    margin-right: 3px;
}

.divider-white {
    color: var(--main-light-color);
    margin-left: 5px;
}

.accented-text-light-bg {
    color: var(--accented-text-color-light-bg);
}

.accented-text-dark-bg {
    color: var(--accented-text-color-dark-bg);
}

.center-container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}