@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
    --font-for-subtitle: "Playfair Dispay", serif;
    --main-text-color: rgba(255,255,255,0.6);
    --main-light-color: #ffffff;
    --sign-color: #ee2d14;
    --input-bg-color: #2d2e33;
    --input-button-bg-color: #18a8ee;
}

::placeholder {
    padding-left: 15px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 5px;
}

span {
    margin-right: 3px;
}

.divider-white {
    color: var(--main-light-color);
    margin-left: 5px;
}
