.contact-us {
    background: url(../img/waterfall.png) no-repeat center center;
    background-size: cover;
    height: 800px;
    display: flex;
}

.contact-us__container {
    max-width: 450px;
    height: 630px;
    background-color: #232428;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    margin: auto;
    flex: 1;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 12px;
    justify-content: center;
    width: 375px;
    height: 45px;;
}