.contact-us {
    background: url(../img/waterfall.png) no-repeat center center;
    background-size: cover;
    height: 800px;
    display: flex;
}

.contact-us__container {
    max-width: 450px;
    height: 630px;
    background-color: #232428;
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    margin: auto;
    flex: 1;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 14px;
    justify-content: center;
    width: 350px;
    height: 45px;
}

input[type="submit"] {
    margin-top: 60px;
}