
.header {
    background-color: #232428;
    background: url("../img/header-background-image.png") no-repeat center center;
    background-size: cover;
    margin: auto;
}

.header__nav-logo-container {
    margin: auto;
    margin-left: 20px;
}

.header__logo-img {
    margin: auto;
    margin-left: 20px;
    display: inline;
    width: 200px;
}

.clock {
    margin-top: 9px;
}

.header__menu-item {
    padding: 10px;
}

.header__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-left: 50px;
    margin-top: 100px;
    max-height: 100%;
}

.header__banner-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
}

.header__promo-image {
    width: 90%;
    max-width: 100%;
    margin: auto;
}

.header__play-icon {
    width: 20px;
}

.header__subtitle {
    font-size: 12px;
    color: var(--main-light-color);
    font-weight: 500;
    margin-top: 0;
}

.header__title {
    color: var(--main-light-color);
    font-family: var(--font-for-subtitle);
    font-size: 70px;
    font-weight: 600;
    margin-top: 30px;
}

.header__promo-video-container {
    display: flex;
    margin: 30px auto;
    margin-left: 0;
}

.header__promo-video {
    font-size: 12px;
    text-decoration: underline;
}

.header__aside {
    color: var(--main-light-color);
    display: flex;
    flex: 1;
    flex-direction: column;
    letter-spacing: .03em;
    line-height: 1.6;
}

.header__aside-title {
    margin-top: 20px;
    font-size: 17px;
}

.header__aside-subtitle {
    margin-top: 20px;
    font-size: 12px;
}

.header__aside-description {
    margin-top: 10px;
    font-size: 12px;
}

.header__aside-swiper {
    margin-top: 35px;
    margin-bottom: 60px;
    font-size: 14px;
}

.header__aside-swiper a:hover {
    text-decoration: underline;
}

.navbar-toggler {
    background-color: var(--main-light-color);
}


@media (min-width: 768px) {
    .header__aside {
        max-width: 30vw;
        height: 335px;
        align-self: flex-end;
        display: flex;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .header__title {
        font-size: 125px;
        margin-top: 20px;
    }
    .header__promo-video-container {
        align-self: start;
        margin-top: 30px;
    }
    a[href="#contact-us-form"] {
        border: 2px solid white;
        padding: 5px;
    }

    a[href="#contact-us-form"]:hover {
        color: #232428;
        background-color: white;
        width: 20px;
        transition: 0.3s;
        
    }

    .header__nav {
        margin-right: 60px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .03em;
    }
}

@media (min-width: 992px) {
    .header__aside-description{
        font-size: 13px;
    }
}


