.norway {
    max-width: 100vw;
    max-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.norway__logo-image-container {
    margin-left: 40px;
    margin: auto;
    margin-right: 30px;
}

.norway__logo-image {
    width: 100%;
}

.norway__title-container {
    margin: auto;
    max-width: 90%;
}

.norway__description-container {
    margin: auto;
    max-width: 90%;
    margin-top: 40px;
}

.norway__statistics-container {
    text-align: center;
}

.norway__statistics-item {
    margin: 40px auto;
}